### DICT.CC CONFIG FILE UTF-8 ######
#
# 240927
# markus ekler
#
# DE->FR (revised UTF-8 version)
#
####################################

# dictionary & eye-candy
LOADDICTIONARY("dat\\DE_FR_240927.txt")
LOADBITMAP("dat\\leo_de_fr.bmp")
# URL to launch on ALT+ENTER (<SEARCH> will be replaced with current search string)
SEARCHURL="https://dict.leo.org/allemand-fran%C3%A7ais/bonjour/<SEARCH>"
DELETECOMMENT()
#DELETESTRING("{m}")
REPLACECHAR("	","/")
#SUBSTITUTE("m","Mm")

####################################