### DICT.CC CONFIG FILE UTF-8 ######
#
# 240927
# markus ekler
#
# DE->ES (revised UTF-8 version)
#
####################################

# dictionary & eye-candy
LOADDICTIONARY("dat\\DE_ES_240927.txt")
LOADBITMAP("dat\\leo_de_es.bmp")
# URL to launch on ALT+ENTER (<SEARCH> will be replaced with current search string)
SEARCHURL="https://dict.leo.org/spanisch-deutsch/<SEARCH>"
DELETECOMMENT()
#DELETESTRING("{m}")
REPLACECHAR("	","/")
#SUBSTITUTE("m","Mm")

####################################